@import './typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72.22% 50.59%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 5% 64.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}

	table {
		@apply overflow-x-scroll;

		& th {
			@apply whitespace-nowrap;
		}
	}

	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
	html,
	body,
	#app {
		@apply h-full;
	}
	#app,
	main.container {
		@apply relative;
	}

	main.container {
		@apply grid gap-x-4 gap-y-14 overflow-x-scroll pb-8 pt-6;
	}
}

@layer utilities {
	.link {
		@apply cursor-pointer hover:!text-blue-600;
	}

	.scrolltrack-hidden {
		scrollbar-color: #2a2a2b transparent;
		scrollbar-width: thin;
	}
	.scrolltrack-hidden::-webkit-scrollbar-track {
		@apply border bg-transparent;
	}
	.overflow-x-scroll,
	.overflow-y-scroll {
		@apply scrolltrack-hidden;
	}
}

@layer components {
	table.linkable > tbody > tr > td {
		@apply !p-0;

		& > a {
			@apply block h-full w-full p-4;
		}
	}
	table.actions > tbody > tr > td:first-child {
		@apply !p-0;
	}

	label[aria-required='true']:after,
	.star-note:before {
		@apply mx-0.5;
		content: '*';
	}

	.list-group {
		@apply grid gap-1;

		& h3 {
			@apply font-semibold leading-none tracking-tight;
		}

		& > a {
			@apply first-of-type:mt-2;
		}

		& > a,
		& > button {
			@apply flex select-none items-center gap-2 rounded-md px-2 py-1 text-left hover:bg-muted aria-disabled:cursor-default aria-disabled:!bg-transparent aria-disabled:text-muted-foreground aria-disabled:text-opacity-50;

			& > svg {
				@apply h-4 w-4;
			}
		}

		& > a.danger,
		& > button.danger {
			@apply text-red-600 aria-disabled:text-opacity-50;
		}
	}

	hr.spacer {
		@apply my-6 w-full border;
	}
}

.hljs-keyword,
.hljs-link,
.hljs-literal,
.hljs-section,
.hljs-selector-tag {
	color: currentColor !important;
}
